<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>CORS LinkChecker</title>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/cors.css">

  </head>
  <body>

<H1>  CORS LINK CHECKER </H1>

<form action="" id="message-form">
	<div id="top">
	<label>
 		<input type="url" id="url" value="">
  	</label>
  	<label>
    <!--<input type="text" id="data">-->
  	</label>
  	<label>
    		<button id="get">GET</button>
        </label>
	</div>
	<div id="bottom">
	<label>
  	<textarea id="output"></textarea>
	</label>
	<label>
                  <button id="push">Push DB </button>
        </label>
	</div>
</form>
 <ul>
<H3> RESULTS </h6>
 <div class ="resultSet">
</div>
	<BR>
	<BR>
    
</ul>

<!-- jquery must be before the js line -->
<script src ="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script src="https://www.gstatic.com/firebasejs/3.6.1/firebase.js"></script>
</script>
<script src ="/js/cors.js"></script> 
   </body>
  </html>

